*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.first-section{
    background-color: #1F2937;
    color: white;
}

.menu{
display: flex;
justify-content: space-between;
margin-left: 100px;
margin-right: 100px;
padding: 15px;
}

ul{
    display: flex;
    list-style: none;
    gap: 25px;
    margin-right: 140px;
}

.logo{
    margin-left: 140px;
    color: #F9F1F8;
    font-size: 24px;
}

a{
    text-decoration: none;
    color: white;
}
.title{
    font-size: 48px;
    color: #F9F1F8;
    font-weight: bold;
}
.text{
    font-size: 18px;
    color: #E5E7EB;
}

.menu2{
    display: flex;
    justify-content: space-around;
   padding: 100px;
}
img{
    max-height: 270px;
    margin-right: 50px;
}

button{
    background-color: #3882F6;
    color: white;
    padding: 13px;
    border-radius: 8px;
    border: none;
    margin-top: 7px;
}