*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.first-section{
    background-color: #1F2937;
    color: white;
}

.menu{
display: flex;
justify-content: space-between;
margin-left: 100px;
margin-right: 100px;
padding: 15px;
}

ul{
    display: flex;
    list-style: none;
    gap: 25px;
    margin-right: 140px;
}

.logo{
    margin-left: 140px;
    color: #F9F1F8;
    font-size: 24px;
}

a{
    text-decoration: none;
    color: white;
}
.title{
    font-size: 48px;
    color: #F9F1F8;
    font-weight: bold;
    max-width: 444px;
}
.text{
    font-size: 18px;
    color: #E5E7EB;
    max-width: 444px;
}

.menu2{
    display: flex;
    justify-content: space-around;
   padding: 100px;
}
img{
    max-height: 270px;
    margin-right: 50px;
}

button{
    background-color: #3882F6;
    color: white;
    padding: 13px;
    border-radius: 8px;
    border: none;
    margin-top: 7px;
}

.h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.boxes{
    color: #1F2937;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.square{
    height: 150px;
    width: 150px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}
.section2-2{
    color: #1F2937;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-three{
    background-color: #E5E7EB;
    padding: 150px;
    display: flex;
    flex-direction: column;
}

p{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.sayer{
    color: #1F2937;
    font-weight: bold;
    align-self: flex-end;
}

.section-four{
    padding: 100px;
}

.border{
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9F1F8;
    display: flex;
    padding: 40px;
    justify-content: space-around;
}

.tt{
    background-color: #3882F6;
    color: white;
    padding: 13px;
    border-radius: 8px;
    border: 2px solid white;
    width: 120pxpx;
}

.kk{
   font-size: 18px;
   color: #F9F1F8;
}
h3{
    font-size: 36px;
    margin-bottom: 5px;
}

.last-section{
    background-color: #1F2937;
    color: #F9F1F8;
    display: flex;
    justify-content: center;
    padding: 40px;
    font-size: 20px;
}


    
