*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-section{
    background-color: #1F2937;
    color: white;
}

.menu{
display: flex;
justify-content: space-between;
margin-left: 100px;
margin-right: 100px;
}

ul{
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}
.title{
    font-size: 48px;
    color: #F9F1F8;
    font-weight: bolder;
}
.text{
    font-size: 18px;
    color: #E5E7EB;
}

.menu2{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}
.menuright{
    min-width: 200px;
}